{
    "env": {
        "shared-node-browser": true
    },
    "globals": {
        "exports": false,
        "buildDescription": false,
        "checkAirLock": false,
        "checkDownload": false,
        "checkIntimidate": false,
        "checkKlutz": false,
        "checkForecast": false,
        "getMultiAttack": false,
        "Field": false,
        "NATURES": false,
        "Pokemon": false,
        "getFinalSpeed": false,
        "getItemBoostType": false,
        "getNaturalGift": false,
        "getMoveEffectiveness": false,
        "getTechnoBlast": false,
        "getFlingPower": false,
        "isGroundedForCalc": false,
        "countBoosts": false,
        "displayStat": false,
        "toSmogonStat": false,
        "getModifiedStat": false,
        "getBerryResistType": false,
        "megaStones": false,
        "STATS": false,
        "seedBoostedStat": false,
        "mega_Stones": false,
        "CALCULATE_DAMAGE_RBY": false,
        "CALCULATE_DAMAGE_GSC": false,
        "CALCULATE_DAMAGE_ADV": false,
        "CALCULATE_DAMAGE_DPP": false,
        "CALCULATE_DAMAGE_BW": false,
        "calculateDamage": false,
        "ZMOVES_TYPING": false,
        "calcStatRBYFromDV": false,
        "calcStatADV": false,
        "SPECIES": false,
        "MOVES": false,
        "ABILITIES": false,
        "ITEMS": false,
        "TYPE_CHART": false,
        "getKOChanceText": false,
        "HP": false,
        "AT": false,
        "DF": false,
        "SP": false,
        "SD": false,
        "SL": false,
        "SA": false,
        "Move": false,
        "extend": false
    }
}
