/* Dark mode styles */

body {
    color: white;
    background-color: black;
}

.btn {
    background-color: #161616;
    color: #B7B7B7;
}



.btn:hover {
    z-index: 10;
    border-color: #888888;
    background: black;
}

.visually-hidden:focus + .btn,
.btn:hover {
    z-index: 10;
    border-color: #888888;
    background: black;
}

.visually-hidden:checked + .btn {
    font-weight: bold;
    color: white;
    background: #000042;
}

.visually-hidden:disabled + .btn {
    color: black;
}

fieldset {
    background-color: #222222;
}

select {
    background-color: black;
    color: white;
}

a.links-lighten {
    color: #7A9CFF;
}

a.links-lighten:hover {
    color: #C2D0FF;
}

a.links-lighten:visited {
    color: #BC8BEA;
}

a.links-lighten:visited:hover {
    color: #DACAF7;
}

input {
    background-color: black;
    color: white;
}

textarea {
    background-color: black;
    color: white;
}

.wrapper {
    background-color: black;
    color: white;
}
