/*********************************************************
 * Layout
 *********************************************************/

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html {
    color: white;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11pt;
    background: #f0f0f0;
    color: #333333;
}
body {
    background: linear-gradient(to bottom, rgba(77, 93, 140, 0.6), rgba(77, 93, 140, 0.2) 80px, transparent 160px, transparent);
}

header {
    margin: 0 0 20px 0;
    padding: 2px;
    /* background: rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .6); */
    text-align: center;
    height: 60px;
}
.nav-wrapper {
    width: 700px;
    margin: 0 auto;
    position: relative;
}
.nav {
    padding: 0;
}
.nav-wrapper .nav {
    padding-left: 140px;
    padding-top: 5px;
}
.nav li {
    float: left;
    list-style-type: none;
}
.nav img {
    position: absolute;
    left: 0;
    top: 0;
}
.nav a, .nav a:visited {
    color: white;
    background: #3a4f88;
    background: linear-gradient(to bottom, #4c63a3, #273661);
    box-shadow: 0.5px 1px 2px rgba(255, 255, 255, 0.45), inset 0.5px 1px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #222c4a;
    text-shadow: black 0px -1px 0;
    padding: 8px 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0;
    margin-left: -1px;
    font-size: 11pt;
}
.dark .nav a, .dark .nav a:visited {
    /* make sure other styling doesn't override */
    color: white;
    background: #3a4f88;
    background: linear-gradient(to bottom, #4c63a3, #273661);
    border: 1px solid #222c4a;
    box-shadow: 0.5px 1px 2px rgba(255, 255, 255, 0.45), inset 0.5px 1px 1px rgba(255, 255, 255, 0.5);
}
.nav a:hover, .dark .nav a:hover {
    background: linear-gradient(to bottom, #5a77c7, #2f447f);
    border: 1px solid #222c4a;
}
.nav a:active, .dark .nav a:active {
    background: linear-gradient(to bottom, #273661, #4c63a3);
    box-shadow: 0.5px 1px 2px rgba(255, 255, 255, 0.45), inset 0.5px 1px -1px rgba(255, 255, 255, 0.5);
}
.nav a.cur, .nav a.cur:hover, .nav a.cur:active,
.dark .nav a.cur, .dark .nav a.cur:hover, .dark .nav a.cur:active {
    color: #CCCCCC;
    background: rgba(79, 109, 148, 0.7);
    box-shadow: 0.5px 1px 2px rgba(255, 255, 255, 0.45);
    border: 1px solid #222c4a;
}
.nav a.nav-first {
    margin-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.nav a.nav-last {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.nav a.greenbutton {
    background: linear-gradient(to bottom, #4ca363, #276136);
}
.nav a.greenbutton:hover {
    background: linear-gradient(to bottom, #5ac777, #2f7f44);
}
.nav a.greenbutton:active {
    background: linear-gradient(to bottom, #276136, #4ca363);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.45), inset 0.5px 1px -1px rgba(255, 255, 255, 0.5);
}
.nav a.purplebutton {
	background: linear-gradient(to bottom,hsl(267, 36.40%, 46.90%),hsl(267, 42.60%, 26.70%));
}
.nav a.purplebutton:hover {
	background: linear-gradient(to bottom,hsl(267, 49.30%, 56.70%),hsl(267, 46.00%, 34.10%));
}
.nav a.purplebutton:active {
	background: linear-gradient(to bottom,hsl(267, 42.60%, 26.70%),hsl(267, 36.40%, 46.90%));
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.45), inset 0.5px 1px -1px rgba(255, 255, 255, 0.5);
}

@media (max-width:700px) {
    .nav-wrapper {
        width: auto;
        display: inline-block;
    }
    .nav-wrapper .nav {
        padding-left: 135px;
    }
    .nav a {
        font-weight: normal;
        padding: 8px 7px;
    }
    .nav img {
        top: 10px;
    }
}

@media (max-width:554px) {
    header {
        height: 100px;
    }
    .nav-wrapper .nav {
        padding-left: 0;
        padding-top: 50px;
    }
    .nav img {
        top: 10px;
    }
    .nav a {
        padding: 8px 12px;
    }
    .nav a.nav-first {
        margin-left: 0;
    }
    .nav a.greenbutton {
        position: absolute;
        top: 10px;
        right: 0;
    }
}
@media (max-width:419px) {
    .nav a {
        padding: 8px 7px;
    }
}
@media (max-width:359px) {
    .nav-wrapper {
        padding-left: 5px;
    }
    .nav a {
        padding: 8px 4px;
    }
}

footer {
    clear: both;
    text-align: center;
    color: #888888;
    padding: 10px 0 10px 0;
}
footer p {
    margin: 10px 0;
}
footer a {
    color: #AAAAAA;
}
footer a:hover {
    color: #6688AA;
}
footer a.cur, footer a.cur:hover {
    color: #888888;
    font-weight: bold;
    text-decoration: none;
}
.button {
    color: white;
    background: #3a4f88;
    background: linear-gradient(to bottom, #4c63a3, #273661);
    box-shadow: 0.5px 1px 2px rgba(255, 255, 255, 0.45), inset 0.5px 1px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #222c4a;
    padding: 3px 10px;
    text-shadow: black 0px -1px 0;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11pt;
    cursor: pointer;
}
.button:hover, .button:focus {
    color: white;
    text-decoration: none;
}

/*********************************************************
 * Main
 *********************************************************/
.btn {
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
	box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
	border-radius: 5px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	display: inline-block;

	/* default colors */
	color: #222222;
	text-shadow: 0 1px 0 white;
	border: 1px solid #AAAAAA;
	background: #e3e3e3;
	background: linear-gradient(to bottom,  #f6f6f6,  #d3d3d3);

	font-size: inherit;
	padding: 3px 8px;
}
.btn:hover, .btn:focus, .visually-hidden:focus + .btn {
	background: #cfcfcf;
	background: linear-gradient(to bottom,  #f2f2f2,  #b2b2b2);
	border-color: #606060;
    color: #222222;
    text-decoration: none;
}
.visually-hidden:checked + .btn,
.visually-hidden:checked + .btn:hover {
    cursor: pointer;
	background: #FFF;
	border: 1px solid #CCCCCC;
	color: #000000;
	text-shadow: none;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.visually-hidden:checked + .btn:hover {
	border-color: #606060;
}
.btn:active,
.visually-hidden[type=checkbox]:checked + .btn:active {
	background: linear-gradient(to bottom,  #bfbfbf,  #f2f2f2);
}
.visually-hidden[type=radio]:checked + .btn,
.visually-hidden[type=radio]:checked + .btn:hover {
	border-color: #CCCCCC;
	cursor: default;
}

.modeSelection .btn {
    min-height: 2.5em;
    vertical-align: middle;
}

select {
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
	box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
	border-radius: 5px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	display: inline-block;

	/* default colors */
	color: #222222;
	text-shadow: 0 1px 0 white;
	border: 1px solid #AAAAAA;
	background: #fff;
	background: linear-gradient(to bottom,  #fff,  #eee);

	font-size: 11px;
	padding: 1px 1px;
}
select:hover, select:focus {
	background: #dfdfdf;
	background: linear-gradient(to bottom,  #fbfbfb,  #ddd);
	border-color: #606060;
}
.select2-container .select2-choice:hover {
	border-color: #606060;
}

a {
    color: #0073aa;
}
a:visited {
    color: #8000aa;
}

/*********************************************************
 * Calculator
 *********************************************************/

/* general page styling */
html, body {
    font-size: 10pt;
    min-width: 100em;
}
.wrapper {
    padding: 0 1em;
    max-width: 1300px;
    margin: 0 auto;
}
.credits {
    clear: both;
    padding: 20px;
    max-width: 1285px;
    margin: 0px auto;
}
div.wrapper > div > span {
    padding-right: 5px;
}
fieldset {
    float: left;
    background-color: #F1F4F9;
    border: 1px solid #AAAAAA;
}
legend {
    font-weight: bold;
    text-align: center;
}
th, td {
    padding: 0;
}
th {
    font-size: 0.8em;
}
.title-text {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em 1em 0.5em 0;
    position: relative;
    top: -5px;
}
.main-title-text {
    top: -10px;
}
.big-text {
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em 0;
    position: relative;
}
.big-text #mainResult:hover {  /* indicates the presence of click-to-copy function */
    cursor: pointer;
    opacity: 0.7;
}
#tooltipText {
    position: absolute;
    left: 42%;
    top: -170%;
    font-size: 0.8em;
    visibility: hidden;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: normal;
}
#tooltipText::after {
    position: absolute;
    left: 45%;
    top: 100%;
    content: '';
    border: 6px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.7);
}
.small-text {
    font-size: 0.8em;
}
.panel {
    float: left;
    display: inline-block; /* required for honkaculate to work */
}
.poke-info {
    width: 32em;
}
.field-info, .poke-import {
    text-align: center;
    width: 27.5em;
}

#holder-2 tr {
    white-space: nowrap;
}

/* general button styling */
.btn {
    text-align: center;
    padding: 4px 4px;
    position: relative;
    margin: -1px -3px 0;
    display: inline-block;
    width: 5em;
    border-radius: 8px;
}
.btn-wide {
    width: 7em;
}
.btn-xwide {
    width: 8em;
}
.btn-xxwide {
    width: 9em;
}
.btn-xxxwide {
    width: 10em;
}
.btn-small {
    width: 4em;
}
.btn-xsmall {
    width: 1em;
}
.btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-mid {
    border-radius: 0;
}
.btn:hover {
    z-index: 10;
}
.visually-hidden:checked + .btn {
    font-weight: bold;
}

.visually-hidden:focus-visible + .btn { /* Add visual indication when focusing on visually hidden elements */
    outline: 2px solid #2266AA;
}

/* Hide element visually, but not from screen readers. See http://adrianroselli.com/2017/05/under-engineered-custom-radio-buttons-and-checkboxen.html */
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    white-space: nowrap; /* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
}

.visually-hidden:disabled + .btn {
    color: #999999;
}
.btn-group {
    display: inline-block;
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.locked-move:checked + .btn,
.locked-move:checked + .btn:hover {
    background: #ffff99;
}

.locked-weather:checked + .btn,
.locked-weather:checked + .btn:hover {
    background: #ffff99;
}

.genSelection, .notationSelection, .modeSelection {
    display: inline-block;
    position: relative;
    top: -8px;
}

/* header */
.move-result-group {
    min-width: 50em;
    margin: 1em 0 11.5em;
}
.move-result-subgroup {
    float: left;
    width: 50%;
}
.move-result-group .btn {
    margin-right: 1em;
}
.main-result-group {
    margin: 2em 0 1em;
}
.result-move-header {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 0 5px;
}

/* pokemon info */
.poke-info label {
    display: inline-block;
    width: 6em;
}
.top label, .info-selectors label {
    display: inline-block;
    width: 5em;
}
.poke-info input:not([type]), .poke-info input[type="text"], .poke-info span {
    display: inline-block;
    width: 2.5em;
}
.poke-info input[type="number"] {
    display: inline-block;
    width: 3em;
}
.info-group {
    margin: 1em 0;
}
.set-selector {
    width: 100%;
}
.info-selectors select {
    width: 14em;
}
select.toxic-counter {
    width: 5.5em;
}
.move-selector, .move-bp {
    font-size: 0.9em;
}
/* .move-type, .move-cat, .move-hits {
    font-size: 11px;
} */
.move-selector {
    width: 11.5em;
}
.poke-info input.move-bp {
    width: 2em;
}
.move-type {
    width: 6.2em;
}
.move-cat {
    width: 6.3em;
}
.move-hits {
    width: 4.5em;
}
.poke-info .crit-btn {
    font-size: 0.8em;
    width: 2.5em;
    height: 1em;
    padding: 3px 3px;
    margin: 0px 1px;
}
.poke-info .z-btn {
    font-size: 0.8em;
    width: 1.5em;
    height: 1em;
    padding: 3px 3px;
    margin-right: 1px;
}
.poke-info .max-btn {
	font-size: 0.8em;
	width: 2.5em;
	height: 1em;
	padding: 3px 3px;
}
.poke-info .stellar-btn {
   font-size: 0.8em;
   width: 3.5em;
   height: 1em;
   padding: 3px 3px;
}


/* field info */
.field-info .btn {
    font-size: 0.8em;
}
table.field {
    width: 100%;
}

[hidden], .hide {
    display: none;
}

/* select2 overrides */
.select2-container .select2-choice > .select2-chosen {
    width: 100%;
}

.select2-chosen {
	word-wrap: break-word;
	text-overflow: inherit;
	white-space: normal !important;
}

.small-select.select2-container .select2-choice {
    font-size: 0.9em;
    height: 18px;
    line-height: 18px;
}
.small-select.select2-container .select2-choice .select2-arrow b {
    background-position: 0 -4px;
}
.small-select.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px -4px;
}

/* Bootstrap */
.panel-group > .panel {
    clear: left;
}

/* ColVis */
.clear {
  clear: right;
}

.import-team-text {
    display: block;
    margin: 5px 0;
    min-width: 27em;
    min-height: 10em;
    resize: vertical;
}

.import-name-text {
	min-width: 26.3em;
    min-height: 1em;
    overflow: auto;
    display: inline;
}

.hpbar {
    height: 4px;
    border-style: solid;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-left-width: 0.5px;
    border-radius: 3px;
}

.hpbar.hp-green {
    border-top-color: #00dd60;
    background-color: green;
    border-bottom-color: #007734;
    border-right-color: #007734;
}

.hpbar.hp-yellow {
    border-top-color: #f8e379;
    background-color: #f5d538;
    border-bottom-color: #be9f0a;
    border-right-color:#be9f0a;
}

.hpbar.hp-red {
    border-top-color: #f37f67;
    background-color: #ee4928;
    border-bottom-color: #a3260d;
    border-right-color: #a3260d;
}

.pool {
    padding: 15px 0;
}
.ability-pool, .move-pool  {
    padding-bottom: 5px;
}
.extraSetAbilities,
.extraSetItems,
.extraSetMoves {
    width: 100%;
}

.flex-parent {
	display: flex;
}
